# Ignore Python environment
env/
__pycache__/
*.pyc

# Ignore Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Ignore VSCode or IDE configs
.vscode/
.idea/
